<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
          background: url(images/background.jpg) no-repeat center;
          background-size: cover;
          height: 100vh;
          --def: #96B7C4;
          --inv: #fff;
      }
  </style>
    <title>dsfsdsd</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Impxort Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <h1 class="orange-text"style="text-align:center;">PAPELERIA</h1>
    <div class="row section" >
      <div class="col s12 m6 l2"></div>
      <div class="col s12 m6 l4">
        <form action="/agregar" method="get" id="create">
          <button class="btn waves-effect waves-light red darken-1" type="submit">
            Agregar producto<i class="material-icons right">send</i>
          </button>
        </form>
      </div>

      <div class="col s12 m6 l3">
        <form action="/consultar" method="get" id="create">      
          <button class="btn waves-effect waves-light red darken-1" type="submit">
            Consular producto<i class="material-icons right">send</i>
          </button>
        </form>
      </div>
      <div class="col s12 m6 l3"></div>
    </div>    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
  </body>
</html>
